:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
--foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.grid {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
}

a {
  color: inherit;
  text-decoration: none;
}
.todo-element {
  border: solid 3px red;
  min-height: 200px;
  max-height: 400px;
}
.todo-element .name, .todo-tasks .task {
  display: flex;
  flex-direction: wrap;
}

input[type="checkbox"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #0d6efd;
  border-radius: 0.25rem;
  background-color: #fff;
  cursor: pointer;
}
input[type="checkbox"]:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.todo-item-checkbox {
  margin: 0.25rem;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (min-width: 600px) {
  .grid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .grid { grid-template-columns: repeat(3, 1fr); }
}
